
html {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.container {
    background-color: rgba(0, 0, 0, .01)
}

h5 {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    margin: 0;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 351px;
    height: 200px;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 450;
    line-height: 1.2857em;
    height: 40px;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;

}

.card-header {
    font-size: 1.28571429em;
    font-weight: 600;
    
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.profile {
    position: absolute;
    top: -35px;
    left: 150px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    margin: 0;
    /* border: 1px solid #fff; */
    background-color: #17a2b8;
    border-radius: 50%;
}

.profile-avatar {
    position: absolute;
    /* width: 100%; */
    /* height: auto; */
    font-size: 2.285714em;
    color: white;
    font-weight: 600;
    /* line-height: 0.2857em; */
    margin-top: 5px;
    margin-left: 13px;
    /* border-radius: 50%; */
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline~.card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.form-control{
width: 400px;
height: 50px;	
}

.form-group{
    width: 800px;
    
}

.text-bold {
    font-weight: 700;
}

.open-session-header,
.close-session-header {
    background-color: lightseagreen;
    color: white;
    padding: 10px;
    border-radius: 3px;
    margin-top: 7px;
    font-size: 1.28571429em;
    font-weight: 450;
    line-height: 1.2857em;
}

.page-header{
    position: relative;
    text-align: center;
}
.month-text{
    position: absolute;
    bottom: 44px;
       left: 26px;
    color: white;
    font-size: 20px;
}
.file{
	
	margin: 5% auto;
	width: 400px;
	height: 170px;
	padding:5px 10px;
	  background:url("../img/upload.png");
	 
      background-size: contain;
	  position:relative;
	  color:#fff;
	  border-radius:2px;
	  text-align:center;
	
}
.overlay_file_chooser{
	background: rgba(0,0,0,0.9);
	position: absolute;
	top:0px;
	left:0px;
	z-index: 3;
	width: 100%;
	height: 100%;
	
}
.form-control{
    width: 400px !important;
    height: 50px !important;
}

.custom-file-upload {
    width: 100%;
    height: 100%;	
	opacity: 0;
	cursor: pointer;
}